body {
  padding-bottom: 20px;
  background-color: #E58081;
}

.navbar {
  background-color: white;
  margin-bottom: 20px;
.navbar-brand{
  padding-left: 100px;
}
.nav-link{
  color:#E58081;
}
.navbar-toggler{
  color:#E58081;
  background-color: #E58081;
  padding-right:20px;
}
}
/* cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.jumbotron {
  background-image: url("../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  padding-bottom:100px;
}

/*
 * Base structure
 */

html,
body {
  font-family: "Futura",sans-serif;
  height: 100%;
  background-color: #333;
  text-align: center;
}
h2{
  color:white;
  padding-top:160px;
}

h1{
   text-align:center;
   padding-top: 5px;
   padding-bottom:50px;
   color:white;
   font-weight: 120%;
 }
.cover-container {
  max-width: 42em;
}
hr{
  size: 10;
  width: 80%;
  color: white;
}

/*
 * Cover
 */
.cover {
  padding: 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*---------Global style------*/
body {
  color: #00342E;
  background-color: #E58081;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: center;
}

.font-color {
    color: white;
  }
/*--shop now buttom --*/
.btn-danger{
  color:white;
  background-color: #E58081;
  border-color: #E58081;
  border-radius: 1rem;
}

.btn-danger:hover{
  color:#E58081;
  background-color: white;
  border-color: white;
}

/* footer */
footer{
  margin-top: 100px;
  background-color: #E58081;
    a.footer {
      text-align: center;
      color: black;
      font-size: 11px;
      font-weight: 600;
      margin-right: 15px;
    }
    .social {
      margin-right: 15px;
    }
    .footer-text {
      color: white;
      font-size: 11px;
      line-height: 17px;
      margin: 75px 40px;
    }
    .footer-img{
      padding-left: 40px;
      padding-top:20px;
    }
  }
h5{
  color:white;
  padding-top:20px;
}
.text{
  color:white;
}
